In [55]:
import pandas as pd

In [56]:

data = pd.read_csv('house_prices_india.csv')

In [57]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Appartment_type  164 non-null    object
 1   Price_per_sq_ft  164 non-null    object
 2   Area             164 non-null    int64
 3   Price            164 non-null    int64
 4   Status           164 non-null    object
 5   Location         164 non-null    object
dtypes: int64(2), object(4)
memory usage: 7.8+ KB
None

In [58]:
print(data.head())

  Appartment_type Price_per_sq_ft  Area     Price         Status  \
0          3 BHK            7,729  1035   8000000  Ready to move
1          3 BHK            4,889  1534   7500000  Ready to move
2          3 BHK            3,000  1000   3000000  Ready to move
3          3 BHK           15,000  2000  30000000  Ready to move
4          3 BHK            4,166  1560   6500000  Ready to move

                          Location
0           Patthri Bagh, Dehradun
1             Aman Vihar, Dehradun
2  Tanda Ujjain, Udham Singh Nagar
3           Ganga Nagar, Rishikesh
4               Modipuram, Roorkee

In [59]:
print(X.dtypes)

Location           object
Status             object
Area                int64
Price               int64
Price_per_sq_ft    object
Appartment_type    object
dtype: object

In [60]:
df.columns = df.columns.str.strip()

In [61]:
# Define the columns that are expected to be numeric
numeric_columns = ['Area', 'Price', 'Price_per_sq_ft','Appartment_type']  # replace with actual column names

# Remove commas and convert to numeric
for col in numeric_columns:
    df[col] = df[col].replace({',': ''}, regex=True)  # Remove commas
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric, invalid values will be NaN

In [62]:
# Fill NaN values with the mean (or median, or remove rows, depending on your use case)
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

In [63]:
# Ensure columns are float type
df[numeric_columns] = df[numeric_columns].astype(float)

In [64]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

# Define the transformer to apply scaling to numeric columns
transformer = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_columns)
    ]
)

# Build the pipeline
model = Pipeline(steps=[
    ('transformer', transformer),
    ('regressor', LinearRegression())
])

In [65]:
import pickle
from sklearn.linear_model import LinearRegression

# Your code to train the model here...
model = LinearRegression()
# Save the model
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [54]:
import json
columns={
    'data_columns': [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))